.villa-info-text {
  flex: 1;
  max-width: 600px; /* Mantener el tamaño del bloque de texto */
  margin-right: 0; /* Quitar margen derecho */
  padding-right: 20px; /* Añadir padding para dar un pequeño espacio respecto a la imagen */
  font-family: 'Open Sans', sans-serif;
}

.villa-info-text h1 {
  font-size: 2.5rem; 
  font-weight: bold;
  font-family: 'Playfair Display', serif; 
  line-height: 1.2;
  color: #222;
  text-align: left; 
}

.villa-info-text p {
  font-size: 1.1rem; 
  line-height: 1.6;
  color: #555;
  text-align: left;
  margin-top: -20px;
  
}

.villa-info-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
}

.villa-info-image {
  flex: 0.3; 
  display: flex;
  justify-content: center;
}

.villa-info-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 40px;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
